@light: #DCDCDD;
@accent: #C5C3C6;
@primary: #1985A1;
@secondary: #4C5C68;
@dark: #46494C;

body {
    font-family: 'Roboto', sans-serif;
    color: @light;
}

* {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    border: 1px solid @primary;
    background: @dark;
    color: @light;
    &::placeholder {
        color: @accent;
    }
}

html, body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: darken(@primary, 10%);
}

#auto-hotkey-interface {
    width: 750px;
    height: calc(100% - 250px);
    min-height: 700px;
    background: @dark;
    box-shadow: 2px 2px 8px 2px @dark, -2px -2px 8px 2px @secondary;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        font-family: 'Amatic SC', cursive;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 10px;
    }
}

input, .button, .selector, .dropdown-option {
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
}

.script {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    .script-body {
        flex-grow: 1;
        overflow: auto;
    }

    .footer {
        order: 3;
        align-self: center;
    }
}


.button {
    display: inline-block;
    background: @primary;
    margin: 0px 3px;
    cursor: pointer;
}

.selector {
    display: inline-block;
    cursor: pointer;
    border: 1px solid @primary;
    border-left: none;

    &:first-child {
        border-left: 1px solid @primary
    }

    &.active {
        background: @primary;
    }
}

.button, .selector {
    user-select: none;
}


.actions {
    padding: 8px 0px;
}

.configurable {
    display: flex;
}

@import './dropdown.less';
@import './toggle.less';
@import './shortcut.less';
