@light: rgba(216, 219, 226, 1);
@accent: rgba(169, 188, 208, 1);
@primary: rgba(88, 164, 176, 1);
@secondary: rgba(55, 63, 81, 1);
@dark: rgba(27, 27, 30, 1);

body {
    font-family: 'Roboto', sans-serif;
    color: @dark;
}

* {
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    border: 1px solid @primary;
    &::placeholder {
        color: @secondary;
    }
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: @accent;
    height: 1px;
}

html, body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: @accent;
}

#auto-hotkey-interface {
    width: 750px;
    height: calc(100% - 250px);
    min-height: 700px;
    background: @light;
    box-shadow: 2px 2px 8px 2px @dark, -2px -2px 8px 2px @secondary;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1, h2 {
        font-family: 'Amatic SC', cursive;
        text-transform: uppercase;
        margin: 0px;
        margin-bottom: 10px;
    }
}

input, .button, .selector, .dropdown-option {
    padding: 15px;
    font-size: 16px;
    line-height: 16px;
    height: 48px;
    /*background: @light;
    transition: background-color 0.2s ease, color 0.1s ease;
    &:hover {
        background: @primary;
        color: @light;
    }*/
}

.script {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    .script-body {
        flex-grow: 1;
        overflow: auto;
    }

    .footer {
        order: 3;
        align-self: center;
    }
}

.shortcut-key-container {
    margin: 3px;
}

.shortcut-key {
    display: inline-block;
    width: 150px;
    margin: 0px 5px;
    text-align: center;
    cursor: pointer;
    border: 1px solid @dark;

    &:focus, &:active {
        outline: none;
        border: 1px solid @primary;
    }
}

.button {
    display: inline-block;
    background: @primary;
    margin: 0px 3px;
    cursor: pointer;
    border: 1px solid @primary;
}

.selector {
    display: inline-block;
    cursor: pointer;
    border: 1px solid @accent;
    border-left: none;

    &:first-child {
        border-left: 1px solid @accent
    }

    &.active {
        background: @primary;
    }
}

.button, .selector {
    user-select: none;
}

.hotkey-creators {
    margin: 0px 3px;
}

.hotkey-creator {
    display: flex;
    margin: 5px 0px;

    input[type="number"] {
        width: 80px;
    }
}

.configurable {
    display: flex;
}

@import './dropdown.less';
@import './toggle.less';
